# in addition to standard files included by distutils setup.py, include these files 
include LICENSE
include gwsurrogate/new/*.py
include gwsurrogate/eval_pysur/*.py
exclude gwsurrogate/LALsurrogate.py
include gwsurrogate/spline_interp_Cwrapper/*.py
include gwsurrogate/precessing_utils/*.py
include gwsurrogate/precessing_utils/include/*
